body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: url('./assets/garlic.jpg'); /* ou fond.jpg si dans public/ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: #1f3b57;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 30, 60, 0.2);
  max-width: 90vw;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

button {
  background-color: #59a3c7;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #4a90b5;
}

.ready-message {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.slider {
    width: 80%;
    margin: 1rem auto;
    display: block;
    height: 1rem;
    border-radius: 1rem;
    transition: background 0.3s ease;
  }

/* Couleurs selon l'état */
/* Track de la jauge */
input[type="range"].low::-webkit-slider-runnable-track {
  background: #98FF98;
}
input[type="range"].mid::-webkit-slider-runnable-track {
  background: #ffc857;
}
input[type="range"].high::-webkit-slider-runnable-track {
  background: #e74c3c;
}

input[type="range"].low::-moz-range-track {
  background: #98FF98;
}
input[type="range"].mid::-moz-range-track {
  background: #ffc857;
}
input[type="range"].high::-moz-range-track {
  background: #e74c3c;
}

/* Transition douce pour la track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 1rem;
  border-radius: 1rem;
  transition: background 0.4s ease-in-out;
}
input[type="range"]::-moz-range-track {
  height: 1rem;
  border-radius: 1rem;
  transition: background 0.4s ease-in-out;
}


/* Curseur */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  border: 2px solid #1f3b57;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  border: 2px solid #1f3b57;
  cursor: pointer;
}

.garlic-image {
  width: 25vw;
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
  transition: opacity 0.5s ease-in-out;
}
.garlic-face {
  width: 20vw;
  max-width: 200px;
  transition: all 0.5s ease;
  margin: 1rem auto;
  display: block;
}
